body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	overflow: auto;
	background-color: #5a81cf;
	background-size: 400% 400%;
	background-attachment: fixed;
  }  
  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  #header {
	background-color: #3366cc;
	color: #ffffff;
	text-align: center;
	padding: 20px;
  }
  
  #search-input {
	margin-top: 20px;
	padding: 10px;
  }
  
  #search-button {
	background-color: #3366cc;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	cursor: pointer;
  }
  
  #search-history {
	text-align: center;
	margin-top: 20px;
  }
  
  #city-history {
	list-style-type: none;
	padding: 0;
  }
  
  .row {
	display: flex;
	justify-content: center;
	margin: 20px 0;
  }
  
  .card-column {
	margin: 10px;
  }
  
  .card-block {
	text-align: center;
  }
  
  .header-block {
	margin: 0;
	font-size: 24px;
  }
  
  .weather-block {
	margin-top: 20px;
  }
  
  .weather-block p {
	margin: 8px 0;
  }
  
  .weather-block img {
	max-width: 100px;
  }
  
  .footer {
	text-align: center;
	margin-top: 20px;
  }
  